@model CreateBookViewModel
@{
    ViewData["Page"] = "Books";
    ViewData["Title"] = "Create";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Create A Book</h5>
        </div>
        <div class="card-block">
            <div class="">
                <form enctype="multipart/form-data" id="frmUplaodFileAdd" class="sky-form col-md-pull-8" hidden>
                    @Html.AntiForgeryToken()
                    <input id="file2" name="file" type="file" />
                </form>

                <form asp-action="Create" asp-controller="Books" asp-area="Admin" method="post" enctype="multipart/form-data">
                    
                    <div class="" style="padding:35px !important">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.ImageUrl" class="col-form-label">Picture:</label>

                            </div>
                            <div class="col-5">
                                <a class="btn-more hover-effect" id="upload_link" href="#" style="font-size:medium;font-weight:600">&nbsp; Choose Picture  &nbsp;</a>
                                <input asp-for="Book.ImageUrl" class="image-name form-control" readonly />
                                <label class="col-md-2 control-label" id="txtuploadedMsgAdd" style="color: chartreuse;font-weight:600;text-align:left"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.Title" class="col-form-label"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="Book.Title" class="form-control" />
                                <span class="text-danger" asp-validation-for="Book.Title"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.Description" class="col-form-label"></label>
                            </div>
                            <div class="col-5">
                                <input class="form-control" asp-for="Book.Description" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.Content" class="col-form-label"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="Book.Content" class="form-control" />
                                <span class="text-danger" asp-validation-for="Book.Content"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.Tag" class="col-form-label"></label>
                            </div>
                            <div class="col-5">
                                @Html.DropDownListFor(model => model.Book.TagId, Model.Tags as SelectList, new { @class = "form-control js-example-basic-single col-sm-12" })
                                <span class="text-danger" asp-validation-for="Book.Price"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.Price" class="col-form-label"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="Book.Price" class="form-control" />
                                <span class="text-danger" asp-validation-for="Book.Price"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.Author" class="col-form-label"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="Book.Author" class="form-control" />
                                <span class="text-danger" asp-validation-for="Book.Author"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Book.ReadCount" class="col-form-label"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="Book.ReadCount" class="form-control" />
                                <span class="text-danger" asp-validation-for="Book.ReadCount"></span>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-5 offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".image").on("change", function () {
                alert();
                var fileName = $(this).val().split("\\").pop();
                $(this).next(".image").html(fileName);


            })
        });


        $(function () {
            $("#upload_link").on('click', function (e) {
                e.preventDefault();

                $("#file2:hidden").trigger('click');
            });
        });
        $("#file2").change(function () {
            var file = this.files[0];
            fileName = file.name;
            size = file.size;
            type = file.type;

            var formData = new FormData($('#frmUplaodFileAdd')[0]);
            $.ajax({
                url: 'ImageUpload',  //Server script to process data
                type: 'POST',

                xhr: function () {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // Check if upload property exists
                        myXhr.upload.addEventListener('progress',
                            progressHandlingFunction, false); // For handling the progress of the upload
                    }
                    return myXhr;
                },
                data: formData,
                success: function (response) {
                    console.log(response);
                    $(".image-name").val(response);
                    //$("#image").attr("src", "data:image/png;base64," + response.Image); $("#image").attr("class", "img-responsive");
                },
                //Options to tell jQuery not to process data or worry about content-type.
                cache: true,
                contentType: false,
                processData: false
            });
        });

        //If file is successfully uploaded, label is updated with message
        function progressHandlingFunction(e) {
            if (e.lengthComputable) {
                $("#divAddInforamtionDialog").show();
                $("#txtuploadedMsgAdd").text("  " + fileName + "Uploading..");
            }
        };
        function updateValue(id, value) {
            // this gets called from the popup window and updates the field with a new value
            var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
            jqueryObjectByClass.value = value;
        };

    </script>
}

